<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        const arr = [
            {
                correctionTime: "2018-11-30",
                departmentName: "总裁办",
                formOfEmployment: 1,
                id: "604f764971f93f3ac8f365c2",
                mobile: "13800000002",
                password: "e10adc3949ba59abbe56e057f20f883e",
                staffPhoto: "https://ppp-1314261646.cos.ap-beijing.myqcloud.com/1665540155896-1.jpeg",
                timeOfEntry: "2018-11-02",
                username: "管理员",
                workNumber: "9002"
            },
            {
                correctionTime: "2018-11-30",
                departmentName: "总裁办",
                formOfEmployment: 1,
                id: "604f764971f93f3ac8f365c2",
                mobile: "13800000002",
                password: "e10adc3949ba59abbe56e057f20f883e",
                staffPhoto: "https://ppp-1314261646.cos.ap-beijing.myqcloud.com/1665540155896-1.jpeg",
                timeOfEntry: "2018-11-02",
                username: "管理员",
                workNumber: "9002"
            }

        ]

        // 表头数据
        // 表内容的数据
        // [[],[]]
        // 二维数组内容的数据结构：每一行的数据，顺序和表头保持一致
        // const header = ['手机号', '姓名', '入职日期', '聘用形式', '转正日期', '工号', '部门']
        // 表内容的数据和员工列表相同，所以根据员工列表生成
        const exportExcelMapPath = {
            '手机号': 'mobile',
            '姓名': 'username',
            '入职日期': 'timeOfEntry',
            '聘用形式': 'formOfEmployment',
            '转正日期': 'correctionTime',
            '工号': 'workNumber',
            '部门': 'departmentName'
        }
        const header = Object.keys(exportExcelMapPath)
        const data = arr.map(item => {
            console.log(item);
            // []
            // 根据表头获得跟表头长度一样的数组
            return header.map(h => {
                // 循环表头为手机号
                // item mobile
                return item[exportExcelMapPath[h]]
            })
        })
        console.log(data);
    </script>
</body>

</html>